body{
    background: rgb(85, 85, 231);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header{
    margin-top: 75px;
    font-size: 15pt;
}
.out{
    color: white;
}
#quadro{
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 90px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281); 
    margin-bottom: 20px;
}
